Plugins>BL-15A1 XRF/XANES, "Convert Raw 2D map data...", ImportRaw2DMap
Plugins>BL-15A1 XRF/XANES, "Load Single XRF mapping...", Menu_XRF
Plugins>BL-15A1 XRF/XANES, "Load XANES mapping...", Menu_XANES
Plugins>BL-15A1 XRF/XANES, "Setup XRF/XANES...", setupMapping
Plugins>BL-15A1 XRF/XANES, "Test", XRFXANESTest